{% extends "base.html" %}
{% block content %}
{% if user.is_authenticated %}
<a class="backlink" href="/add">Submit a Post</a>
{% endif %}
    <h1>Latest Posts</h1>
    {% for post in post_list %}
        <div class="post">
            <h2>
                <a href="{% url 'blog_detail' post.pk %}">{{ post }}</a>
            </h2>
            <p class="byline">
                Posted by {{ post.author.username }} &mdash; {{ post.published_date }}

                {% if user.is_authenticated %}
                    - <small><a href="{% url 'update_post' post.pk %}">Edit</a></small>
                {% endif %}

            </p>
            <div class = "post-body">
                {{ post.text|slice:":500" }}
            </div>
        </div>
    {% endfor %}
{% endblock %}
